*{
    margin: 0;
}
body{
    background-color: rgb(253, 243, 243);
}
.Box{
    display: inline-block;
}
.img{
    height: 250px;
    width: auto;
    border-radius: 20px;
}
.Restaurant_name{
    font-size: 20px;
    font-weight:  bold;
}

.rating{
    background-color: green;
    height: 20px;
    padding: 3px;
    position: absolute;
    right: 5px;
    color: white;
    border-radius: 8px;
}
.Restaurnt{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

}
.card{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
   
    cursor: pointer;
    /* last */
    border: 10px solid rgb(253, 243, 243);
    border-radius: 10px;
}
.price{
    position: absolute;
    right: 5px;
}
.food{
    position: relative;
}

.distance{
    position: absolute;
    right: 5px;
}
.location{
    position: relative;
}
.food, .place{
    font-size: 15px;
    color: rgb(88,88,88);
}
.distance{
    font-weight: bold;
    font-size: 10px;
}
.card:hover{
    background-color: white;
    border-color: white;
}
.image{
    position: relative;
}
.off{
    font-size: 30px;
    color: white;
    background-color: rgba(167, 45, 223, 0.4);
    position: absolute;
    bottom:10px;
    left: 5px;
    border-radius: 10px;
    padding: 5px;
}

.first{
    margin-left: 200px;
    margin-bottom: 20px;
}
.brand{
    color: rgb(216, 5, 5);
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
}
.searching{
    width: 300px;
    position: relative;
    bottom: 13px;
    height: 30px;
}
button{
    height: 50px;
    width: 80px;
    position: relative;
    bottom: 10px;
    font-size: 15px;
    margin-right: 50px;
    background-color: white;
    border: none;
    color: rgb(101,97,97);
}
.head{
    background-color: white;
}
.second{
    /* margin-left: 200px;
    margin-bottom: 20px; */
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
}
.img3{
    height: 70px;
    width:70px;
}
.dine{
    position: relative;
    bottom: 22px;
    left: 5px;
    font-size: 20px;
    color: rgb(98,93,93);
}
.delivery{
    margin-left: 50px;
    margin-right: 50px;
}
.Delivery{
    position: relative;
    bottom: 22px;
    left: 5px;
    font-size: 20px;
    color: rgb(98,93,93);
}
.Nighting{
    position: relative;
    bottom: 22px;
    left: 5px;
    font-size: 20px;
    color: rgb(98,93,93);
}
.third{
    height: 500px;
    background-color: grey;
}
.dining{
    margin-left: 200px;
}